@import '../common';

.navbar {
  height: 3rem;
  background-color: $accentColor;
  padding: 1rem;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    margin-right: 3rem;
  }

  .nav-links {

    a {
      color: $lightTextColor;
      font-size: 1rem;
      margin-left: 3rem;
      line-height: 1rem;
    }
  }
}
